# anyName() #pre define function
#ref.anyName() #pre define method

In [3]:
a='pakistan'
print(a)
print(type(a))

pakistan
<class 'str'>

# String Class Method

In [10]:
a='pakistan Zinda Bad'
print(a
    )

pakistan zinda bad

In [7]:
a.capitalize()

'Pakistan zindabad'

In [8]:
a.upper()

'PAKISTAN ZINDABAD'

In [11]:
a.title()

'Pakistan Zinda Bad'

In [12]:
print(a)

pakistan zinda bad

In [14]:
a.lower()

'pakistan zinda bad'

In [15]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [16]:
print?

In [17]:
a.count??

In [21]:
abc="""Saylani welfare trust 
city: karachi
Country: Pakistan
"""
print(abc)

Saylani welfare trust
city: karachi
Country: Pakistan

In [30]:
abc = """"
********PIAIC**********
saylani welfare trust
Name:{}
F/name:{}
Roll no: {}
"""
abc.format(name,f_name,roll_num)

NameError: name 'roll_num' is not defined

In [ ]:
name = input('Enter your Name')
f_name =input('Enter your f_name')
roll_num = input("Enter yor roll name")

In [33]:
print(abc.format(name,f_name,roll_num))

"
********PIAIC**********
saylani welfare trust
Name:ASad Ali
F/name:Riasat Ali
Roll no: 786

In [ ]:
print(abc)

In [ ]:
abc = """"
********PIAIC**********
saylani welfare trust
Name:{}
F/name:{}
Roll no: {}
"""
print(abc)

In [ ]:
a= "pakistan"
b= "zindabad"
a + b #concatinact

# Operators

In [1]:

+ -  * / % // # methamatics
= += -= /= ^= # Assign
==,>,<,!=,<=,>=,<>, # logical operations
not,and,or, is # combine logic checking

SyntaxError: invalid syntax (<ipython-input-1-30099486841c>, line 2)

# pemdos
mathematics,expo,multi,divi,sub,addition,

In [4]:
5+2

7

In [5]:
12/3

4.0

In [6]:
12+3

15

In [7]:
3*5

15

In [8]:
3-2

1

In [9]:
15%4

3

In [10]:
15//4

3

In [11]:
15//4.5

3.0

In [12]:
#pemdaS
a + 6 * 8 / 5

NameError: name 'a' is not defined

In [13]:
3**2

9

# pemdas

In [15]:
2 + 6 * 8 / 5 + (2*3)

17.6

# Assign operator

In [17]:

a="pakistan"
a

'pakistan'

In [18]:
a*2

'pakistanpakistan'

In [19]:
a+=asad

NameError: name 'asad' is not defined

In [20]:
a+='asad'

In [21]:
a='abc'
a

'abc'

In [24]:
a += 'xyz'
a

'abcxyzxyzxyz'

In [25]:
a

'abcxyzxyzxyz'

In [26]:
a *= 2

In [27]:
a

'abcxyzxyzxyzabcxyzxyzxyz'

In [28]:
a = 15
a %= 4
a

3

In [29]:
a **= 3
a

27

# Logic Operators

In [30]:
5 == 5

True

In [31]:
4 == 3

False

In [32]:
3<= 5

True

In [33]:
3<=3

True

In [34]:
3<3

False

In [35]:
3<=1

False

In [36]:
3>5

False

In [37]:
3>1

True

In [38]:
3>=3

True

In [39]:
3>=1

True

In [40]:
3>=4

False

In [41]:
3<5>9

False

In [42]:
3<4>2

True

In [43]:
5!=5

False

In [44]:
5!=4

True

In [46]:
3==4 and 3==3

False

3==4 or 3==3

In [47]:
3==4 or 4==4

True

In [48]:
3==9 and 3<=9 or 3>=1 and 4!=5 or 3<4>3

True

or,|
and ,&

In [53]:
a='abc'
b='xyz'
c=123
a + b + c #all data type will be same

TypeError: can only concatenate str (not "int") to str

In [54]:
a=int(input('enter your number'))

enter your number5

In [55]:
a

5

In [56]:
a=12.4
type(a)

float

In [58]:
a=float(a)

In [59]:
a

12.4

In [60]:
a=5

In [61]:
a

5

In [62]:
a=float(a)

In [63]:
a

5.0

In [64]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

# if, else,elif

In [70]:
name=input('enter your name')
if (name=="Qasim"):
    print('teacher')
    elif :
        print('Student')

SyntaxError: invalid syntax (<ipython-input-70-51e4f9f08b38>, line 4)